body {
        background-color: #FFF3CF;
        font-size: 13px;
}

img {
        border: 0;
}

#wrapper {
        background-color: #ffffff;
        width: 95%;
        margin: 20px auto 20px auto;
        padding: 10px;
        text-align: center;
        border-radius: 7px;
}

#titulo {
        text-align: center;
}

#listagem table {
        width: 90%;
        margin: 10px auto 10px auto;
        border: 1px dotted #000000;
        text-align: left;
}

#listagem table tr th {
        display: none;
}

#disclaimer {
        width: 75%;
        margin: 0 auto 0 auto;
        background-color: #e0e0ff;
        border: 1px solid #000000;
        text-align: center;
}